*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: sans-serif;
  background-color: #F8F8F8;
}

.header {
  padding: 24px 16px;
  background-color: white;
}

@media (min-width: 1120px) {
  .header {
    background-color: #F8F8F8;
  }
}

.wrapper{
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__wrapper{
  justify-content: space-between;
}

@media (min-width: 1120px) {
  .header__wrapper {
    justify-content: end;
  }
}


@media (min-width: 347px) {
  .header__wrapper_left img{
    order: 2;
  }
}

.header__wrapper_left .separator{
  order: 1;
}

@media (min-width: 1120px) {
  .header__wrapper_left {
    display: none;
  }
}

.logo {
  width: 97px;
  height: 50px;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF3E79;
  border-radius: 50px;
}

.icon-text{
  display: none;
}

@media (min-width: 1120px) {
  .icon-text {
    display: inherit;
  }
}

.separator {
  width: 2px;
  height: 32px;
  border-radius: 50px;
  background-color: #EAEAEA;
}

.contact{
  display: none;
}

@media (min-width: 768px) {
  .contact{
    display: inherit;
  }
}

@media (min-width: 1120px) {
  .contact{
    display: none;
  }
}

.title__wrapper {
  margin: 24px 0;
  display: flex;
  align-items: center;
}

@media (min-width: 1120px) {
  .title__wrapper {
    position: absolute;
    top: -7px;
  }
}

.title__line{
  width: 4px;
  height: 40px;
  border-radius: 0 25px 25px 0;
  background-color: #41F6D7;
  margin-right: 12px;
}

.title {
  font-size: 28px;
  white-space: nowrap;
}

.menu {
  margin-left: 16px;
}

.menu__list {
  overflow: auto;
}

.menu__list::-webkit-scrollbar {
  display: none;
}

.menu__item {
  cursor: pointer;
  color: #7E7E82;
  white-space: nowrap;
  padding: 9px 16px;
  border: none;
  border-radius: 5px;
}

.menu__item:hover {
  padding: 7px 14px;
  background-color: white;
  border: 2px solid #41F6D7;
}

.menu__item:focus {
  padding: 7px 14px;
  background-color: white;
  border: 2px solid #41F6D7;
}

.content {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.info {
  flex: 1;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
}

@media (min-width: 769px) {
  .info {
    flex: 1;
  }
}

.text {
  color: #1B1C21;
  margin: 20px 0;
}


.text-additional {
  display: none;
}

@media (min-width: 769px) {
  .text-additional {
    display: block;
  }
}

.text-additional span {
  display: none;
}

@media (min-width: 1120px) {
  .text-additional span {
    display: inline;
  }
}

.read {
  display: flex;
  align-items: center;
}

.read img{
  margin-right: 9px;
}

.main__img {
  width: 100%;
  border-radius: 5px;
  min-width: 320px;
  max-width: 531px;
}

@media (min-width: 769px) {
  .main__img {
    flex: 1;
    margin-right: 25px;
  }
}